<!-- header -->
<title>BNLAB</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Lin Yu-Hsuan">

<script src='/javascripts/jquery-2.1.4.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

<link rel="icon" href="/images/favicon.ico">
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="manifest" href="/stylesheets/manifest.json">