<% var navbar = (page_active, login) => { %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BNLAB</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <% if(login){ %>
                        <li <% if(page_active==='show'){ %> class='active' <% } %> ><a href="/">Show</a></li>
                        <li <% if(page_active==='ta_pannel'){ %> class='active' <% } %> ><a href="/ta_pannel">TA</a></li>
                        <li <% if(page_active==='upload'){ %> class='active' <% } %> ><a href="/upload">Upload</a></li>
                        <li <% if(page_active==='about'){ %> class='active' <% } %> ><a href="/about">About</a></li>
                        <!--   <li><a href="/">Logout</a></li>   -->
                    <% }else{ %>
                        <li <% if(page_active==='login'){ %> class='active' <% } %> ><a href="/login">Login</a></li>
                        <li <% if(page_active==='about'){ %> class='active' <% } %> ><a href="/about">About</a></li>
                    <% } %>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
<% } %>

<% navbar(page_active, login) %>