body {
    padding-top: 3.125em;
}

.starter-template {
    padding: 2.5em 0.9375em;
    text-align: left;
    margin: 0.3125em 0;
}

form input {
    margin: left;
    margin-top: 1.25em;
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    border-radius: 0.125em;
}

form input.u_file {
    background-color: rgba(128, 159, 201, 0.54);
}

table {
    table-layout: fixed;
    float: left;
}

@media (max-width: 1359px) { 
    .starter-template {
        padding: 1.2em 0.5em;
        text-align: left;
        margin: 0em 0em; 
    } 
    table {
        font-size: 0.1em;
        table-layout: fixed;
        float: left;
    }
    table>thead>tr>th:nth-child(1),
    table>tbody>tr>td:nth-child(1) {
        display: none;
    }
    .col-md-4 {
        padding-left: 0em;
        margin-left: 0em;
    }   
}

table thead tr th {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}

table tbody tr td.control {
    background-color: #B2DBBF;
    transition-property: background;
    transition-duration: 1s;
}

.col-md-6 {
    text-align: center;
}

.about-template {
    padding: 2.5em 0.9375em;
    margin: 0.3125em 0;
}

footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 2.5em;
    background-color: #f5f5f5;
}

footer .foot-word {
    line-height: 2.5em;
    text-align: center;
}

/* login page */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

/* ta_pannel */
.mobile-template {
    padding: 0em 0.9375em;
    text-align: center;
    margin: 0.3125em 0;
}

.mobile-template .btn-group {
    padding-top: 2.5em;
}

.mobile-template .id_list{
    font-size: 1.2em;
}