<!DOCTYPE html>
<html>

<head>
    <%- include('component/header') %>
</head>

<body>

    <%- include('component/navbar', {'page_active': 'about', 'login': login}) %>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="about-template">
            <div class="jumbotron">
                <h2>Broadband Network Lab</h2>
                <h2>寬頻網路與應用實驗室</h2>       
          </br>
          <h3>About Me</h3>
          <div class="word">
            Yuhsuan Lin</br>
            National Central University</br>
            Dpartment of Communication Engineering</br>
            TEL: +886916792865</br>
            E-mail: oscarlin2008@gmail.com</br>
          </div>
        </div>     
      </div>
    </div> <!-- /container -->

</body>

<footer>
    <%- include('component/footer') %>
</footer>

</html>