<!DOCTYPE html>
<html>

<head>
    <%- include('component/header') %>
</head>

<body>

    <%- include('component/navbar', {'page_active': 'show', 'login':true}) %>
    
    <div>
        <div class="starter-template">
            
            <div>
                <div class="col-md-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>學號</th>
                                <th>姓名</th>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                            </tr>
                        </thead>
                        <tbody id='tableId0'>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div>
                <div class="col-md-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>學號</th>
                                <th>姓名</th>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                            </tr>
                        </thead>
                        <tbody id='tableId1'>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div>
                <div class="col-md-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>學號</th>
                                <th>姓名</th>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                            </tr>
                        </thead>
                        <tbody id='tableId2'>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            
        </div>
    </div>

    <script>
        var socket = io();
        
        $(document).ready(function(){
            $.ajax({
                type: 'GET',
                url: '/api/record',
                dataType: 'json',
                success: function(res){
                    $.each(res, function(key, value){
                        //console.log(key + ':' + res[key]);
                        $('#tableId' + key%3 ).append('<tr id="' + res[key].id + '">' +
                                    '<td>' + res[key].id + '</td>' +
                                    '<td>' + res[key].name + '</td>' +
                                    (res[key]['q1'] ? ('<td class="question control">' + res[key]['q1'] + '</td>') : ('<td class="question"></td>')) +
                                    (res[key]['q2'] ? ('<td class="question control">' + res[key]['q2'] + '</td>') : ('<td class="question"></td>')) +
                                    (res[key]['q3'] ? ('<td class="question control">' + res[key]['q3'] + '</td>') : ('<td class="question"></td>')) +
                                    (res[key]['q4'] ? ('<td class="question control">' + res[key]['q4'] + '</td>') : ('<td class="question"></td>')) +
                                '</tr>');
                    });
                    $(document).on('click', 'table tbody .question', function(event){
                        var td = $(this);
                        var tr = td.parent();
                        var id = tr.attr('id');
                        var qnum = tr.children().index(td) - 1;
                        if(td.text() != ''){
                            console.log('full');
                            if(!confirm('確定刪除?\n' + id + ' 第' + qnum + '題')){
                                return false;
                            }                            
                        }
                        else{
                            alert('此題尚未提交過');
                            return false;                            
                        }
                        $(this).addClass('control');
                        console.log('emit:  ' + id + '  ' + qnum); 
                        socket.emit('delete', {id: id, q: qnum});
                    });
                },
                error: function(){
                    console.log('get db data error');
                }
            });
        });
   
        socket.on('form_update', function(msg){
            var id = msg.id;
            var q = msg.q+2;
            var t = msg.time;
            if (t!=''){ // if form_update due to update or new submit
                $('#' + id + ' td:nth-child(' + q + ')').addClass('control').text(t);
                console.log('Update on: ' + id + ' ' + q + ' ' + t + ' ');
            }
            else { // if form_update due to delete
                $('#' + id + ' td:nth-child(' + q + ')').removeClass('control').text('');
                console.log('Delete on: ' + id + ' ' + q + ' ' + t + ' ');
            }
        });

        
    </script>

</body>

<footer>
    <%- include('component/footer') %>
</footer>
    
</html>