<!DOCTYPE html>
<html>

<head>
    <%- include('component/header') %>
</head>

<body>

    <%- include('component/navbar', {'page_active': 'login', 'login': false}) %>

    <div class="container">
        <div class="starter-template">
            <form class="form-signin" action="/login" method="post">
                <input type='hidden' name='csrfmiddlewaretoken' value='c9aW4Np7xvcXb5d9hqf4doxSYNNXrnWd' />
                <h2 class="form-signin-heading">login portal</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="username" id="inputEmail" class="form-control" name="form_email" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="form_password" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
            </form>
        </div>
    </div>
    <!-- /container -->

</body>

<footer>
    <%- include('component/footer') %>
</footer>

</html>