<!DOCTYPE html>
<html>

<head>
    <%- include('component/header') %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
    <script src="/javascripts/bootstrap-select.min.js"></script>
    
</head>

<body>

    <%- include('component/navbar', {'page_active': 'ta_pannel', 'login':true}) %>
    
    <div class="container">
        <div class="mobile-template">
            <div id='tmp'></div>
            <select class="selectpicker" data-style="btn-primary" data-live-search="true" data-size='8' data-width="90%">
                <option data-hidden="true"></option>
            </select>
            <div class="btn-group question_no" role="group" aria-label="question_no">
                <button type="button" class="btn btn-default btn-lg" value='1'>1</button>
                <button type="button" class="btn btn-default btn-lg" value='2'>2</button>
                <button type="button" class="btn btn-default btn-lg" value='3'>3</button>
                <button type="button" class="btn btn-default btn-lg" value='4'>4</button>
            </div>
            <div class="btn-group update_type" role="group" aria-label="update_type">
                <button type="button" class="btn btn-default btn-lg" value='choose'>提交</button>
                <button type="button" class="btn btn-default btn-lg" value='delete'>刪除</button>
            </div>

            <div class="btn-group confirm" role="group" aria-label="confirm">
                <button type="button" class="btn btn-danger btn-lg confirm" onClick='send_data()'>確定</button>
            </div>
        </div>
    </div>

    <script>        
        var socket = io();
        
        socket.on('submit result',function(result){
          if(result==1){
              alert('成功\n請按確定繼續');
          }
          else if(result==0){
              alert('失敗\n請詢問負責人員');
          }
        });

        function send_data(){
            var id = $('.selectpicker').val();
            var qnum_s = $('.question_no button.active').val();
            var qnum = parseInt(qnum_s);

            var update_type = $('.update_type button.active').val();
            if( !(qnum && id && update_type) ){
                alert('請選擇題號、學號及上傳選項');
                return false;
            }
            else {
              var cht='';
              var choose_cht='提交 ';
              var del_cht='刪除 ';
              if (update_type=='choose')
                cht=choose_cht;
              else if (update_type=='delete')
                cht=del_cht;

              if(!confirm(cht + id + ' 第 ' + qnum + ' 題?')){
                return false;
              }
            }// end if( !(qnum && id && update_type) )
            if(qnum && id && update_type){
                if (update_type=='choose'){
                  socket.emit('choose', {id: id, q: qnum});
                }
                else if (update_type=='delete'){
                  socket.emit('delete', {id: id, q: qnum});
                }
                else{
                  console.log('Undefined update type.');
                  return false;
                }
                $('.update_type button.active').removeClass('active');
                console.log('emit:  ' + id + '  ' + qnum); 
            } // end if(qnum && id && update_type)
        }//end send_data()
        
        $('.question_no>button').click(function(){
            $('.question_no').children('button').removeClass('active');
            $(this).addClass('active');
        });
        $('.update_type>button').click(function(){
            $('.update_type').children('button').removeClass('active');
            $(this).addClass('active');
        });
            
        $(document).ready( () => {
            $.ajax({
                type: 'GET',
                url: '/api/ta_pannel',
                success: (data) => {
                    var list = data.data;
                    list.forEach( (element) => { 
                        $('.selectpicker').append('<option class="id_list" data-content=' + element.id + element.name + ' ' +
                            'data-subtext=' + element.name + '>' + 
                            element.id + '</option>' + '</select>');
                        }
                    );
                    $('.selectpicker').selectpicker('refresh')
                },
            });
        });
    </script>

</body>

<footer>
    <%- include('component/footer')%>
</footer>
    
</html>