<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs%>
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
    <script src="/javascripts/bootstrap-select.min.js"></script>
    
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BNLAB</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Show</a></li>
                    <li class='active'><a href="/ta_pannel">TA</a></li>
                    <li><a href="/upload">Upload</a></li>
                    <li><a href="/about">About</a></li>
                    <!--   <li><a href="/">Logout</a></li>   -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    
    <div class="container">
        <div class="mobile-template">
            <select class="selectpicker" data-style="btn-primary" data-live-search="true" data-size='8' data-width="90%">
                <option  data-hidden="true"></option>
                <% for(var i = 0; i < data.length; i++){ %>
                    <option class='id_list' data-content='<%= data[i].id %> <%= data[i].name %>' data-subtext='<%= data[i].name %>'> <%= data[i].id %> </option>
                <% } %>
            </select>
            
            <div class="btn-group question_no" role="group" aria-label="question_no">
                <button type="button" class="btn btn-default btn-lg" value='1'>1</button>
                <button type="button" class="btn btn-default btn-lg" value='2'>2</button>
                <button type="button" class="btn btn-default btn-lg" value='3'>3</button>
                <button type="button" class="btn btn-default btn-lg" value='4'>4</button>
            </div>
            <div class="btn-group update_type" role="group" aria-label="update_type">
                <button type="button" class="btn btn-default btn-lg" value='choose'>提交</button>
                <button type="button" class="btn btn-default btn-lg" value='delete'>刪除</button>
            </div>

            <div class="btn-group confirm" role="group" aria-label="confirm">
                <button type="button" class="btn btn-danger btn-lg confirm" onClick='send_data()'>確定</button>
            </div>
        </div>
    </div>

    <script>        
        var socket = io();
        
        socket.on('submit result',function(result){
          if(result==1){
              alert('成功\n請按確定繼續');
          }
          else if(result==0){
              alert('失敗\n請詢問負責人員');
          }
        });

        function send_data(){
            $.ajax({
                type: 'POST',
                url: '/record',
                dataType: 'json',
                error: (er) => {
                    console.log(er);
                },
                success: () => {
                    var id = $('.selectpicker').val();
                    var qnum_s = $('.question_no button.active').val();
                    var qnum = parseInt(qnum_s);
                    var update_type = $('.update_type button.active').val();
                    if( !(qnum && id && update_type) ){
                        alert('請選擇題號、學號及上傳選項');
                        return false;
                    }
                    else {
                        var cht = '';
                        var choose_cht = '提交 ';
                        var del_cht = '刪除 ';
                        if (update_type == 'choose')
                            cht = choose_cht;
                        else if (update_type == 'delete')
                            cht = del_cht;

                        if(!confirm(cht + id + ' 第 ' + qnum + ' 題?')){
                        return false;
                        }
                    }// end if( !(qnum && id && update_type) )
                }
            });



            

            
            if(qnum && id && update_type){
                if (update_type=='choose'){
                  socket.emit('choose', {id: id, q: qnum});
                }
                else if (update_type=='delete'){
                  socket.emit('delete', {id: id, q: qnum});
                }
                else{
                  console.log('Undefined update type.');
                  return false;
                }
                $('.update_type button.active').removeClass('active');
                console.log('emit:  ' + id + '  ' + qnum); 
            } // end if(qnum && id && update_type)
        }//end send_data()
        
        $('.question_no>button').click(function(){
            $('.question_no').children('button').removeClass('active');
            $(this).addClass('active');
        });
        $('.update_type>button').click(function(){
            $('.update_type').children('button').removeClass('active');
            $(this).addClass('active');
        });
            
            
    </script>

</body>

<footer>
    <% include ./footer.ejs %>
</footer>
    
</html>