<!DOCTYPE html>
<html>

<head>
    <%- include('component/header') %>
</head>

<body>

    <%- include('component/navbar', {'page_active': 'upload', 'login':true}) %>
    
    <div class="container">
        <div class="starter-template">
            <form method="POST" enctype="multipart/form-data" action="/api/upload">
                <h3>● 請至LMS成績冊頁面下載所有學生的清單(.csv) <a href='https://lms.ncu.edu.tw/' target="_blank"><i class="fa fa-external-link"></i></a></h3>
                <h3>● 刪除不必要欄列後另存成.txt(TAB分隔)</h3>
                <h3>● 使用notepad++開啟，轉UTF-8(檔首無BOM)</h3>
                <input type="hidden" name="_csrf" value="{{ csrf }}">
                <input class="u_file" type="file" name="student_list" accept=".txt">
                <input class="u_button" type="submit" value="上傳並套用">
            </form>
        </div>
    </div>

</body>

<footer>
    <%- include('component/footer') %>
</footer>
    
</html>